@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.love-container {
  height: 100vh;
  width: 100%;
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.love-content {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 28px;
  border-radius: 20px;
  background-color: rgb(255, 172, 227);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.love-title {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 60px;
  color: rgb(118, 0, 0);
  margin-bottom: 30px;
}

.love-content p {
  font-weight: bold;
  text-align: center;
  color: rgb(145, 0, 70);
}

.love-author, .love-date {
  font-weight: bold;
  color: rgb(145, 0, 70);
  align-self: flex-end;
}

.love-author {
  margin-top: 20px;
}

.love-author-heart {
  bottom: 30px;
  position: absolute;
  align-self: flex-start;
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 500px) {
  .love-content {
    width: 400px !important;
  }

  .love-content p {
    text-align: left;
  }
}

@media screen and (max-width: 900px) {
  .love-content {
    width: 600px;
  }
}